<div class="content-w" style="background: -moz-linear-gradient(30deg, rgba(238,238,238,1) 0%, rgba(207,207,207,1) 100%); /* ff3.6+ */background: -webkit-gradient(linear, left bottom, right top, color-stop(0%, rgba(238,238,238,1)), color-stop(100%, rgba(207,207,207,1))); /* safari4+,chrome */background: -webkit-linear-gradient(30deg, rgba(238,238,238,1) 0%, rgba(207,207,207,1) 100%); /* safari5.1+,chrome10+ */background: -o-linear-gradient(30deg, rgba(238,238,238,1) 0% rgba(207,207,207,1) 100%); /* opera 11.10+ */ background: -ms-linear-gradient(30deg, rgba(238,238,238,1) 0%, rgba(207,207,207,1) 100%); /* ie10+ */
background: linear-gradient(60deg, rgba(238,238,238,1) 0%, rgba(207,207,207,1) 100%); /* w3c */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#CFCFCF',GradientType=1 ); /* ie6-9 */">

<div style="padding-top: 0.5rem;">

    <nav>
        <div class="nav nav-tabs" id="nav-tab" role="tablist" ng-init="RO_index = 1">
          <a class="nav-item nav-link "  ng-class="{'active show':  RO_index == 1}"  data-toggle="tab" ng-click = "RO_index = 1" role="tab" aria-controls="nav-home" aria-selected="true">  <div class="icon-doc" style="font-size: 18px;color: #dfdfdf!important;"></div> All</a>
          <a class="nav-item nav-link"  ng-class="{'active show':  RO_index == 2}"  data-toggle="tab"  ng-click = "RO_index = 2"  role="tab" aria-controls="nav-profile" aria-selected="false">  <div class="icon-doc" style="font-size: 18px;color: #dfdfdf!important;"></div> International</a>
          <a class="nav-item nav-link"  ng-class="{'active show':  RO_index == 3}"  data-toggle="tab"  ng-click = "RO_index = 3"  role="tab" aria-controls="nav-profile" aria-selected="false">  <div class="icon-doc" style="font-size: 18px;color: #dfdfdf!important;"></div> National </a>
          <a class="nav-item nav-link"  ng-class="{'active show':  RO_index == 4}"  data-toggle="tab"  ng-click = "RO_index = 4"  role="tab" aria-controls="nav-contact" aria-selected="false"><div class="icon-doc" style="font-size: 18px;color: #dfdfdf!important;"></div> Conferences</a>
          <a class="nav-item nav-link"  ng-class="{'active show':  RO_index == 5}"  data-toggle="tab"  ng-click = "RO_index = 5"  role="tab" aria-controls="nav-contact" aria-selected="false"><div class="icon-doc" style="font-size: 18px;color: #dfdfdf!important;"></div>  Books & Other</a>
       
        </div>
      </nav>
   

 <!-- tab all -->
          <div ng-show = "RO_index==1" class="element-wrapper" style="padding-bottom: 0.5rem;">
          <div  class="tab-pane fade show active"  role="tabpanel" aria-labelledby="nav-home-tab">
           
          
              <div>
                  <div class="element-wrapper" style="padding-bottom: 0.5rem;">
                  
                    <div class="element-box">
                      <h6 class="element-header">
                        <span class="icon-docs" style="flex: 0 0 70px; color: #047bf8;font-size: 30px;margin-right: 12px;"></span>  ผลงานวิจัยที่ตีพิมพ์ในวารสารวิชาการระดับนานาชาติ / International Publications
                    
                      </h6>
                      <div >
                        <div class="row" ng-repeat="item in pb_international| limitTo:3 | orderBy: '-publishYear'">
                          <!-- <div class= "col-sm-1"><div class="icon-doc" style="font-size: 18px;color: #dfdfdf;"></div>  </div> -->
                          <div class="col-sm-1 icon-doc" style="font-size: 18px;color: #dfdfdf;"></div> 
                          
                            <div class="col-sm-11"><a href="http://doi.org/{{item.publicationRaw}}">{{item.publicationName}}</a>.
                              <b> {{item.publicationAuthor}}</b>. <I> {{item.publishLocation}}</I>. </div>
                            
                        
                        <hr style="margin-left: 8%;">
                      </div>   
                      <button type="button" class="btn btn-primary" ng-click = "RO_index = 2" >เพิ่มเติม / More <i class="os-icon os-icon-arrow-2-right"></i></button>
                  
                      
                      </div>
                      </div>
                  </div>
                  
                  <div class="element-wrapper" style="padding-bottom: 0.5rem;">
                  
                      <div class="element-box">
                        <h6 class="element-header">
                          <span class="icon-docs" style="flex: 0 0 70px; color: #047bf8;font-size: 30px;margin-right: 12px;"></span>    ผลงานวิจัยที่ตีพิมพ์ในวารสารวิชาการระดับชาติ / National Publications
                        
                      
                        </h6>
                        <div >
                            <div class="row" ng-repeat="item in pb_national| limitTo:3 | orderBy: '-publishYear'">
                              <!-- <div class= "col-sm-1"><div class="icon-doc" style="font-size: 18px;color: #dfdfdf;"></div>  </div> -->
                              <div class="col-sm-1 icon-doc" style="font-size: 18px;color: #dfdfdf;"></div> 
                              
                                <div class="col-sm-11"><a href="http://doi.org/{{item.publicationRaw}}">{{item.publicationName}} </a>.
                                  <b>{{item.publicationAuthor}}</b>. <I>{{item.publishLocation}}</I> </div>
                                
                            
                            <hr style="margin-left: 8%;">
                          </div>   
                          <button type="button" class="btn btn-primary" ng-click = "RO_index = 3">เพิ่มเติม / More <i class="os-icon os-icon-arrow-2-right"></i></button>
                      
                          
                          </div>
                        </div>
                    </div>
                  
                    <div class="element-wrapper" style="padding-bottom: 0.5rem;">
                  
                        <div class="element-box">
                          <h6 class="element-header">
                            <span class="icon-docs" style="flex: 0 0 70px; color: #047bf8;font-size: 30px;margin-right: 12px;"></span> ผลงานวิจัยเสนอในที่ประชุมวิชาการ / Conferences       
                        
                          </h6>
                          <div >
                              <div class="row" ng-repeat="item in pb_conference| limitTo:3 | orderBy: '-publishYear'">
                                <!-- <div class= "col-sm-1"><div class="icon-doc" style="font-size: 18px;color: #dfdfdf;"></div>  </div> -->
                                <div class="col-sm-1 icon-doc" style="font-size: 18px;color: #dfdfdf;"></div> 
                                
                                  <div class="col-sm-11"><a href="http://doi.org/{{item.publicationRaw}}">{{item.publicationName}} </a>. 
                                    <b>{{item.publicationAuthor}}</b>. <I>{{item.publishLocation}}</I> </div>
                                  
                              
                              <hr style="margin-left: 8%;">
                            </div>   
                            <button type="button" class="btn btn-primary" ng-click = "RO_index = 4">เพิ่มเติม / More <i class="os-icon os-icon-arrow-2-right"></i></button>
                        
                            
                            </div>
                          </div>
                      </div>
                  
                      <div class="element-wrapper" style="padding-bottom: 0.5rem;">
                  
                          <div class="element-box">
                            <h6 class="element-header">
                              <span class="icon-docs" style="flex: 0 0 70px; color: #047bf8;font-size: 30px;margin-right: 12px;"></span> Books & Other     
                          
                            </h6>
                            <div >
                                <div class="row" ng-repeat="item in pb_book| limitTo:3 | orderBy: '-publishYear'">
                                  <!-- <div class= "col-sm-1"><div class="icon-doc" style="font-size: 18px;color: #dfdfdf;"></div>  </div> -->
                                  <div class="col-sm-1 icon-doc" style="font-size: 18px;color: #dfdfdf;"></div> 
                                  
                                    <div class="col-sm-11"> <a href="http://doi.org/{{item.publicationRaw}}">{{item.publicationName}}</a>.
                                     <b> {{item.publicationAuthor}}</b>>. <I>{{item.publishLocation}}</I>. </div>
                                    
                                
                                <hr style="margin-left: 8%;">
                              </div>   
                              <button type="button" class="btn btn-primary" ng-click = "RO_index = 5">เพิ่มเติม / More <i class="os-icon os-icon-arrow-2-right"></i></button>
                          
                              
                              </div>
                            </div>
                        </div>
                  
                  
                        <div class="row" ng-repeat="item in pb_other">
                            <!-- <div class= "col-sm-1"><div class="icon-doc" style="font-size: 18px;color: #dfdfdf;"></div>  </div> -->
                            <div class="col-sm-1 icon-doc" style="font-size: 18px;color: #dfdfdf;"></div> 
                            
                              <div class="col-sm-11"><a href="http://doi.org/{{item.publicationRaw}}">{{item.publicationName}} </a>
                                {{item.publicationAuthor}} {{item.publishLocation}} </div>
                              
                          
                          <hr style="margin-left: 8%;">
                        </div>   
                      </div>


          
          </div>
          </div>

 <!-- tab  International   -->
          <div ng-show = "RO_index==2" class="element-wrapper" style="padding-bottom: 0.5rem;">
          <div  class="tab-pane fade show active"  role="tabpanel" aria-labelledby="nav-profile-tab">
              <div class="element-wrapper" style="padding-bottom: 0.5rem;">
                  
                    <div class="element-box">
                      <h6 class="element-header">
                        <span class="icon-docs" style="flex: 0 0 70px; color: #047bf8;font-size: 30px;margin-right: 12px;"></span>  ผลงานวิจัยที่ตีพิมพ์ในวารสารวิชาการระดับนานาชาติ / International Publications
                    
                      </h6>
                      <div >
                        <div class="row" ng-repeat="item in pb_international | orderBy: '-publishYear'">
                          <!-- <div class= "col-sm-1"><div class="icon-doc" style="font-size: 18px;color: #dfdfdf;"></div>  </div> -->
                          <div class="col-sm-1 icon-doc" style="font-size: 18px;color: #dfdfdf;"></div> 
                          
                            <div class="col-sm-11"><a href="http://doi.org/{{item.publicationRaw}}">{{item.publicationName}} </a>.
                              <b>{{item.publicationAuthor}}</b> <I>{{item.publishLocation}}</I> </div>
                            
                        
                        <hr style="margin-left: 8%;">
                      </div>   
                 
                      
                      </div>
                      </div>
                  </div>
            </div>
        </div>
         <!-- tab  National   -->
         <div ng-show = "RO_index==3" class="element-wrapper" style="padding-bottom: 0.5rem;">
            <div  class="tab-pane fade show active"  role="tabpanel" aria-labelledby="nav-profile-tab">
              
                <div class="element-wrapper" style="padding-bottom: 0.5rem;">
                    
                        <div class="element-box">
                          <h6 class="element-header">
                            <span class="icon-docs" style="flex: 0 0 70px; color: #047bf8;font-size: 30px;margin-right: 12px;"></span>    ผลงานวิจัยที่ตีพิมพ์ในวารสารวิชาการระดับชาติ / National Publications
                          
                        
                          </h6>
                          <div >
                              <div class="row" ng-repeat="item in pb_national | orderBy: '-publishYear'">
                                <!-- <div class= "col-sm-1"><div class="icon-doc" style="font-size: 18px;color: #dfdfdf;"></div>  </div> -->
                                <div class="col-sm-1 icon-doc" style="font-size: 18px;color: #dfdfdf;"></div> 
                                
                                  <div class="col-sm-11"><a href="http://doi.org/{{item.publicationRaw}}">{{item.publicationName}} </a>
                                    <b>{{item.publicationAuthor}}</b> <I>{{item.publishLocation}}</I> </div>
                                  
                              
                              <hr style="margin-left: 8%;">
                            </div>   
                      
                            
                            </div>
                          </div>
                      </div>
            </div>
          </div>

        
            
            

         <!-- tab  Conferences   -->
        <div  ng-show = "RO_index==4" class="element-wrapper" style="padding-bottom: 0.5rem;">
          <div  class="tab-pane fade show active"  role="tabpanel" aria-labelledby="nav-contact-tab">

              <div class="element-wrapper" style="padding-bottom: 0.5rem;">
                  
                        <div class="element-box">
                          <h6 class="element-header">
                            <span class="icon-docs" style="flex: 0 0 70px; color: #047bf8;font-size: 30px;margin-right: 12px;"></span> ผลงานวิจัยเสนอในที่ประชุมวิชาการ / Conferences       
                        
                          </h6>
                          <div >
                              <div class="row" ng-repeat="item in pb_conference | orderBy: '-publishYear'" >
                                <!-- <div class= "col-sm-1"><div class="icon-doc" style="font-size: 18px;color: #dfdfdf;"></div>  </div> -->
                                <div class="col-sm-1 icon-doc" style="font-size: 18px;color: #dfdfdf;"></div> 
                                
                                  <div class="col-sm-11"><a href="http://doi.org/{{item.publicationRaw}}">{{item.publicationName}} </a>.
                                    <b>{{item.publicationAuthor}}</b> <I>{{item.publishLocation}}</I> </div>
                                  
                              
                              <hr style="margin-left: 8%;">
                            </div>   
                       
                            
                            </div>
                          </div>
                      </div>
          </div>
      
      </div>

      <!-- tab  Books & Chapters   -->
      <div  ng-show = "RO_index==5" class="element-wrapper" style="padding-bottom: 0.5rem;">
          <div  class="tab-pane fade show active"  role="tabpanel" aria-labelledby="nav-contact-tab">


                   <div class="element-wrapper" style="padding-bottom: 0.5rem;">
                  
                          <div class="element-box">
                            <h6 class="element-header">
                              <span class="icon-docs" style="flex: 0 0 70px; color: #047bf8;font-size: 30px;margin-right: 12px;"></span> Books & Chapters     
                          
                            </h6>
                            <div >
                                <div class="row" ng-repeat="item in pb_book">
                                  <!-- <div class= "col-sm-1"><div class="icon-doc" style="font-size: 18px;color: #dfdfdf;"></div>  </div> -->
                                  <div class="col-sm-1 icon-doc" style="font-size: 18px;color: #dfdfdf;"></div> 
                                  
                                    <div class="col-sm-11"> {{item.publishYear}} , <a href="http://doi.org/{{item.publicationRaw}}">{{item.publicationName}} </a>
                                      {{item.publicationAuthor}} {{item.publishLocation}} </div>
                                    
                                
                                <hr style="margin-left: 8%;">
                              </div>   
                       
                              
                              </div>
                            </div>
                        </div>
          </div>
      
      </div>

   

