    <div class="top-bar color-scheme-light">
            <ul>
              <li class="active">
                <a ng-click="gotoHome()">Home</a>
              </li>
              <li>
                <a ng-click="gotoResearch()">Research</a>
              </li>
              <li>
                <a ng-click="gotoIntellectualProperty()">Intellectual property</a>
              </li>
              <li>
                <a ng-click="gotoResearchGrants()">Research Grants</a>
              </li>
              <li>
                <a ng-click="gotoAward()">Award</a>
              </li>
              <li>
                <a ng-click="gotoThesisTopics()">Thesis topics</a>
              </li>
            </ul>
            <!--------------------
            START - Top Menu Controls
            -------------------->

            <!--------------------
            END - Top Menu Controls
            -------------------->
          </div>


        <div ui-view></div>
