<!-- <script>
      $('ul').on('click', 'li', function() {
      $('li.active').removeClass('active');
      $(this).addClass('active');
      });
</script> -->
    <div class="top-bar color-scheme-light">
            <ul>
              <li>
                <a  href="#">Home</a>
              </li>
              <li id = "tab1" class="active">
                <a ng-click="gotoHome()">General</a>
              </li>
              <li id = "tab2">
                <a ng-click="gotoResearch()">Research</a>
              </li>
              <li id = "tab3">
                <a ng-click="gotoIntellectualProperty()">Intellectual property</a>
              </li>
              <li id = "tab4">
                <a ng-click="gotoResearchGrants()">Research Grants</a>
              </li>
              <li id = "tab5">
                <a ng-click="gotoAward()">Award</a>
              </li>
              <li id = "tab6">
                <a ng-click="gotoThesisTopics()">Thesis topics</a>
              </li>
            </ul>
            <!--------------------
            START - Top Menu Controls
            -------------------->

            <!--------------------
            END - Top Menu Controls
            -------------------->
          </div>


        <div ui-view></div>
