
<div class="content-w" style="background: -moz-linear-gradient(30deg, rgba(238,238,238,1) 0%, rgba(207,207,207,1) 100%); /* ff3.6+ */background: -webkit-gradient(linear, left bottom, right top, color-stop(0%, rgba(238,238,238,1)), color-stop(100%, rgba(207,207,207,1))); /* safari4+,chrome */background: -webkit-linear-gradient(30deg, rgba(238,238,238,1) 0%, rgba(207,207,207,1) 100%); /* safari5.1+,chrome10+ */background: -o-linear-gradient(30deg, rgba(238,238,238,1) 0% rgba(207,207,207,1) 100%); /* opera 11.10+ */ background: -ms-linear-gradient(30deg, rgba(238,238,238,1) 0%, rgba(207,207,207,1) 100%); /* ie10+ */
background: linear-gradient(60deg, rgba(238,238,238,1) 0%, rgba(207,207,207,1) 100%); /* w3c */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#CFCFCF',GradientType=1 ); /* ie6-9 */">
  <!--------------------
  START - Top Bar
  -------------------->

  <!--------------------
  END - Top Bar
  --------------------><!--------------------
  START - Breadcrumbs
  -------------------->
  <!-- <ul class="breadcrumb">
    <li class="breadcrumb-item">
      <a href="/general_2/assets/index.html">Home</a>
    </li>
    <li class="breadcrumb-item">
      <a href="/general_2/assets/index.html">Researchers/Profile</a>
    </li>

  </ul> -->
  <!--------------------
  END - Breadcrumbs
  -------------------->
<div class="content-i">
  <div class="content-box" ><div class="row">
    <div class="col-sm-6">
      <div class="user-profile compact">

        <div class="up-head-w" style="max-width: 1600px;background-image:url(/general_2/research_assets/image/background_drops_light_circles_blue_83428.jpg)">
        <!-- <img  ng-src=""> -->
        <img class = "picturepofile" src="./general_2/ResearcherPic/{{researchData.researcherName_TH}}.jpg" onerror="this.src='http://www.science.kmitl.ac.th/assets/img/person/noimg.jpg'" />
          <!-- <div class="up-social">
            <a href="#"><i class="os-icon os-icon-twitter"></i></a><a href="#"><i class="os-icon os-icon-facebook"></i></a>
          </div> -->
          <div class="up-main-info" style="padding-top:57%">
              <h2 class="up-header" style="font-size: 30px;">


                  {{researchData.researcherName_TH}}
                </h2>
                <br>
            <h2 class="up-header " style="font-size: 17px;">
               {{researchData.researcherName_EN}}
            </h2>
       
            <h5 class="up-sub-header">
              {{researchData.positionData.positionName_TH}}  {{researchData.departmentData.departmentName_TH}}
            </h5>
            <h5 class="up-sub-header">
                {{researchData.positionData.positionName_EN}}  {{researchData.departmentData.departmentName_EN}}
              </h5>
          </div>
          <svg class="decor" width="842px" height="219px" viewBox="0 0 842 219" preserveAspectRatio="xMaxYMax meet" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><g transform="translate(-381.000000, -362.000000)" fill="#FFFFFF"><path class="decor-path" d="M1223,362 L1223,581 L381,581 C868.912802,575.666667 1149.57947,502.666667 1223,362 Z"></path></g></svg>
        </div>
        <!-- <div class="up-controls">
          <div class="row">
            <div class="col-sm-6">
              <div class="value-pair">
                <div class="label">
                  Status:
                </div>
                <div class="value badge badge-pill badge-success">
                  Online
                </div>
              </div>
            </div>
            <div class="col-sm-6 text-right">
              <a class="btn btn-primary btn-sm" href=""><i class="os-icon os-icon-link-3"></i><span>Add to Friends</span></a>
            </div>
          </div>
        </div> -->
        <div class="up-contents">
          <div class="m-b">
            <div class="row m-b">
              <div class="col-sm-6 b-r b-b">
                <div class="el-tablo centered padded-v">
                  <div class="value">
                    {{researchData.citationTotal}}
                  </div>
                  <div class="label">
                    Total Citations
                  </div>
                </div>
              </div>
              <div class="col-sm-6 b-b">
                <div class="el-tablo centered padded-v">
                  <div class="value">
                    {{researchData.publicationTotal}}
                  </div>
                  <div class="label">
                    Total publications
                  </div>
                </div>
              </div>
            </div>
            <div class="element-wrapper" style="padding-bottom: 0rem;">
            <div class="element">
              <h6 class="element-header">
                Contact
              </h6>
              <div class="row" style="padding: 8px;">
                <div class= "col-sm-2"><div class="os-icon os-icon-phone" style="font-size: 27px;color: #047bf8;"></div></div>
                <div class= "col-sm-8 font-app"> +66–2-3298400-11 EXT. {{researchData.organizationTel}}</div>
              </div>
              <div class="row" style="padding: 8px;">
                <div class= "col-sm-2"><div class="os-icon os-icon-mail" style="font-size: 27px;color: #047bf8;"></div></div>
                <div class= "col-sm-8 font-app"><a href="mailto:{{researchData.email}}">{{researchData.email}}</a></div>
              </div>
              <div class="row" style="padding: 8px;">
                <div class= "col-sm-2"><div class="os-icon os-icon-map" style="font-size: 27px;color: #047bf8;"></div></div>
                <div class= "col-sm-8 font-app">{{researchData.workplace}}</div>
              </div>
              <div class="row  justify-content-center" style="padding: 8px;">
                <div class= "col-sm-1"><a style="text-decoration: none;" href="#"><i class="entypo-icon-facebook-with-circle" style="font-size: 27px !important; color: #010696;"></i></a></div>
                <div class= "col-sm-1"><a href="#"><img src="/general_2/assets/img/LINE_SOCIAL_Circle_typeA.png" style="width: 26px"></a></div>
                <div class= "col-sm-1"><a style="text-decoration: none;" href="#"><i class="entypo-icon-twitter-with-circle" style="font-size: 27px !important; color: #43ccf7;"></i></a></div>
                <div class= "col-sm-1"><a style="text-decoration: none;" href="#"><i class="entypo-icon-instagram-with-circle" style="font-size: 27px !important; color: #000000;"></i></a></div>
                <div class= "col-sm-1"><a style="text-decoration: none;" href="#"><i class="entypo-icon-linkedin-with-circle" style="font-size: 27px !important; color: #053d85;"></i></a></div>
              </div>
            </div>
          </div>
          </div>
        </div>
      </div>

      <div class="element-wrapper">
        <div class="element-box">

          <h6 class="element-header">
            <span class="icon-docs" style="flex: 0 0 70px; color: #047bf8;font-size: 30px;margin-right: 12px;"></span> 
            <span class="font_title_th"> ผลงานวิจัย </span><span class="font_title_en">Research Outputs</span>
            
             
          </h6>
          <div ng-repeat="paper in Publication | orderBy: '-publishYear' | limitTo:3 ">
            <div class="row">
              <div class= "col-sm-1"><div class="icon-doc" style="font-size: 18px;color: #6a6a6a;"></div></div>
              <div class= "col-sm-10 font-app"><a href="http://doi.org/{{item.publicationRaw}}">{{paper.publicationName}}</a>. <b>{{paper.publicationAuthor}}</b>. <I>{{paper.publishLocation}}</I>.<strong></strong></div>
            </div>
            <hr/>
          </div>

          <button type="button" class="btn btn-primary" style="float: right;" ng-click="gotoResearch()">More Research Outputs <i class="os-icon os-icon-arrow-2-right"></i></button>

        </div>
      </div>

      <div class="element-wrapper">
        <div class="element-box">

          <h6 class="element-header">
            <span class="icon-badge" style="flex: 0 0 70px; color: #047bf8;font-size: 30px;margin-right: 12px;"></span> 
            <span class="font_title_th"> ทรัพย์สินทางปัญญา </span><span class="font_title_en">Intellectual Property</span>
            
   
          </h6>
          <div ng-repeat="inte in intellectualProperty | orderBy: '-scholarshipYear'">
            <div class="row">
              <div class= "dccol-sm-1"><div class="icon-badge" style="font-size: 18px;color: #6a6a6a;"></div></div>
              <div class= "col-sm-10 font-app"><b>{{inte.intPropertyCode}}</b>  {{inte.intPropertyName}}<strong> {{inte.intPropertyRegisterDate}}</strong></div>
            </div>
            <hr/>
          </div>

          <button type="button" class="btn btn-primary" style="float: right;" ng-click="gotoIntellectualProperty()">More Intellectual Property <i class="os-icon os-icon-arrow-2-right"></i></button>

        </div>
      </div>

      <div class="element-wrapper">
        <div class="element-box">

          <h6 class="element-header">
            <span class="icon-chemistry" style="flex: 0 0 70px; color: #047bf8;font-size: 30px;margin-right: 12px;"></span> 
            <span class="font_title_th"> ที่ปรึกษาวิทยานิพนธ์ </span><span class="font_title_en">Thesis Advisory</span>
           
          </h6>
          <div ng-repeat="item in thesis">
            <div class="row">
              <div class= "col-sm-1"><div class="icon-chemistry" style="font-size: 18px;color: #6a6a6a;"></div></div>
              <div class= "col-sm-10 font-app"><strong> {{item.thesisName_TH}} &#09; {{item.thesisName_EN}}</strong> &#09; {{item.studentName}} &#09; {{item.masterTeachingDepartmentName_TH}}</div>
            </div>
            <hr/>
          </div>


          <button type="button" class="btn btn-primary" style="float: right;" ng-click="gotoThesisTopics()">More Thesis Advisory <i class="os-icon os-icon-arrow-2-right"></i></button>

        </div>
      </div>



    </div>



    <!-- ฝั่งขวา -->
    <div class="col-sm-6">
      <div class="element-wrapper">
        <div class="element-box">
          <div class="element-info">
            <div class="element-info-with-icon">
              <div class="element-info-icon">
                <div class="icon-user"></div>
              </div>
              <div class="element-info-text">
                <h5 class="element-inner-header">
                  Profile
                </h5>
                <!-- <div class="element-inner-desc">
                  Validation of the form is made possible using powerful validator plugin for bootstrap. <a href="http://1000hz.github.io/bootstrap-validator/" target="_blank">Learn more about Bootstrap Validator</a>
                </div> -->
              </div>
            </div>
          </div>
                <div class="row profile-detail">
                <legend style="margin-bottom: 0.5rem;">
                  <span class="font_title_th"> ชื่อ-นามสกุล </span><span class="font_title_en">Frist name - Last name</span></legend>
                <div class="row" >
                  <div class="col" style="margin-left: 12px;">
                     <span class="font_detail_th">   {{researchData.researcherName_TH}} </span>  
                     &#09;
                     <span class="font_detail_en">   {{researchData.researcherName_EN}} </span> 
                  </div>
                </div>
              </div>

              <div class="row profile-detail">
              <legend style="margin-bottom: 0.5rem;">
                  <span class="font_title_th"> ภาควิชา </span><span class="font_title_en">Department</span></legend>
          
              <div class="row" >
                <div class="col" style="margin-left: 12px;">

                    <span class="font_detail_th">   {{researchData.departmentData.departmentName_TH}} </span>  
                    &#09;
                    <span class="font_detail_en">   {{researchData.departmentData.departmentName_EN}} </span> 
                   
                </div>
              </div>
            </div>

            <div class="row profile-detail" >
              <legend style="margin-bottom: 0.5rem;">
                  <span class="font_title_th"> ตำแหน่ง </span><span class="font_title_en">Position</span></legend>
                  
              
              <div class="row">
                <div class="col" style="margin-left: 12px;">

                    <span class="font_detail_th">   {{researchData.academicLevelData.academicLevelName_TH}} </span>  
                    &#09;
                    <span class="font_detail_en">{{researchData.academicLevelData.academicLevelName_EN}}</span> 
                   
                </div>
              </div>
            </div>

            <div class="row profile-detail">
              <legend style="margin-bottom: 0.5rem;">
                  <span class="font_title_th"> การศึกษา </span><span class="font_title_en">Education</span></legend>
                
              <div class="">

                <div class="font-app" style="margin-left: 12px;">
                  <div >  
                  {{researchData.bachelorGraduation}} <br/>
                  </div>
                  <div>  
                  {{researchData.masterGraduation}} <br/>
                  </div>
                  <div>  
                  {{researchData.doctoralGraduation}} <br/>
                  </div>
                  <!-- <div id="accordion">
                    <div class="card card-collapse">
                      <div class="card-header" id="headingOne">
                        <h5 class="mb-0">
                          <a data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                            ระดับปริญญาตรี / Bachelor Degree
                            <i class="icon-arrow-down"></i>
                          </a>
                        </h5>
                      </div>
                      <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                        <div class="card-body">
                           {{researchData.bachelorGraduation}}
                        </div>
                      </div>
                    </div>
                    <div class="card card-collapse">
                      <div class="card-header" id="headingTwo">
                        <h5 class="mb-0">
                          <a data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                            ระดับปริญญาโท / Master Degree
                            <i class="icon-arrow-down"></i>
                          </a>
                        </h5>
                      </div>
                      <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                        <div class="card-body">
                          {{researchData.masterGraduation}}
                      </div>
                    </div>
                    <div class="card card-collapse">
                      <div class="card-header" id="headingThree">
                        <div class="mb-0">
                          <a data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                            ระดับปริญญาเอก / Ph.D.
                              <i class="icon-arrow-down"></i>
                          </a>
                        </div>
                      </div>
                      <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
                        <div class="card-body">
                          {{researchData.doctoralGraduation}}
                      </div>
                    </div>
                    </div>
                </div>
              </div> -->
            </div>
        </div>
      </div>

      <div class="row profile-detail" >
        <div class="">
        <legend style="margin-bottom: 0.5rem;">
            <span class="font_title_th"> เครื่องราชอิสริยาภรณ์ </span><span class="font_title_en">Insignia</span></legend>
            
     
        <div class="row">
          <div class="col font-app" style="margin-left: 12px;">
            {{researchData.insignia1}}
          </div>
        </div>
        <div class="row">
          <div class="col font-app" style="margin-left: 12px;">
            {{researchData.insignia2}}
          </div>
        </div>

      </div>
      </div>


      <div class="row profile-detail" >
          <div class="">
          <legend style="margin-bottom: 0.5rem;">
              <span class="font_title_th"> อุตสาหกรรมเป้าหมาย </span><span class="font_title_en">Target Industry</span></legend>
              
       
          <div class="row">
            <div class="col font-app" style="margin-left: 12px;">
                {{researchData.target}}
            </div>
          </div>
        </div>
        </div>

        <div class="row profile-detail" >
          
          <legend style="margin-bottom: 0.5rem;">
              <span class="font_title_th"> คำสำคัญ </span><span class="font_title_en">Keywords</span></legend>
              
         
          <div class="row">
            <div class="col" style="margin-left: 12px;">
              <span ng-repeat=" itemKeyword in researchData.keywordArray">
               <span class="badge badge-success font-app" > {{itemKeyword.keyword_Combine}}  </span> 
              </span>
               <!-- <spa
                n class="badge badge-success">Electroceramics / วัสดุไฟฟ้าเซรามิกส์</span>
               <span class="badge badge-success">Energy materials / วัสดุพลังงาน</span>
               <span class="badge badge-success">Composite materials / วัสดุผสม</span>
               <span class="badge badge-success">Photocatalytic materials / วัสดุตัวเร่งปฏิกิริยาทางแสง</span> -->
            </div>
          </div>
        </div>
    
      </div>
    </div>

    <div class="element-wrapper">
      <div class="element-box">

        <h6 class="element-header">
          <span class="icon-diamond" style="flex: 0 0 70px; color: #047bf8;font-size: 30px;margin-right: 12px;"></span> 
          
          <span class="font_title_th"> ทุนวิจัย </span><span class="font_title_en">Research Grants</span>
 
        </h6>
        <div ng-repeat="fund in funds">
          <div class="row" >
            <div class= "col-sm-1 "><div class="icon-diamond" style="font-size: 18px;color: #6a6a6a;"></div></div>
            <div class= "col-sm-10 font-app">{{fund.researchName}} , <b>แหล่งทุน</b> {{fund.fundSource}}</div>
          </div>
          <hr/>
        </div>

        <button type="button" class="btn btn-primary" style="float: right;" ng-click="gotoResearchGrants()">More Researchs Grants<i class="os-icon os-icon-arrow-2-right"></i></button>

      </div>
    </div>


    <div class="element-wrapper">
      <div class="element-box">

        <h6 class="element-header">
          <span class="icon-trophy" style="flex: 0 0 70px; color: #047bf8;font-size: 30px;margin-right: 12px;"></span> 
          <span class="font_title_th"> รางวัล </span><span class="font_title_en">Awards</span>
         
        </h6>

        <div ng-repeat="award in awards">
            <div class="row" >
              <div class= "col-sm-1"><div class="icon-trophy" style="font-size: 18px;color: #6a6a6a;"></div></div>
              <div class= "col-sm-10">{{award.rewardYear}} , <b>{{award.rewardName}}</b>, {{award.rewardFrom}}, {{award.rewardDate}}</div>
            </div>
            <hr/>
          </div>

        <div>
        <button type="button" class="btn btn-primary" style="float: right;" ng-click="gotoAward()">More Awards <i class="os-icon os-icon-arrow-2-right"></i></button>

      </div>
    </div>
  </div>

    <div class="element-wrapper">
      <div class="element-box">

        <h6 class="element-header">
          <span class="icon-trophy" style="flex: 0 0 70px; color: #047bf8;font-size: 30px;margin-right: 12px;"></span> 
          <span class="font_title_th"> อบรมสัมมนา </span><span class="font_title_en">Training</span>
         
        </h6>

        <div ng-repeat="training in trainingList | orderBy: '-trainingYear'">
            <div class="row" >
              <div class= "col-sm-1"><div class="icon-trophy" style="font-size: 18px;color: #6a6a6a;"></div></div>
              <div class= "col-sm-10 font-app"><strong style="font-weight: 600;">ชื่องานอบรม</strong> {{training.trainingName}}, <strong style="font-weight: 600;"></strong> {{training.researchTopic}}, <strong style="font-weight: 600;">{{training.dateDisplay}}</strong> </div>
            </div>
            <hr/>
          </div>

        <div>
        <button type="button" class="btn btn-primary" style="float: right;" ng-click="gotoTraing()">More Training <i class="os-icon os-icon-arrow-2-right"></i></button>

      </div>
    </div>
  </div>

  </div><!--  col 7 -->
