
      <style>
        /* Lazy Load Styles */
    .orange-force{
        background-color: #fd7e14!important;
    }

      .blur-hover:hover:enabled{
                        color: rgba(0, 0, 0, 0.3);
                        box-shadow: .1em .1em 3em rgba(200, 200, 200, 0.5);
                    }
                 

        .loader {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    
    display: -ms-grid;
    -ms-grid-columns: 1fr 1fr 1fr 1fr 1fr;
    -ms-grid-rows: 1fr 1fr 1fr 1fr 1fr;
    
    width: 60px;
    height: 60px;
    margin: 15vh auto 0;
    padding: 20px;
    border-radius: 50%;
  
    
    -webkit-animation: spin ease-in-out 2s forwards infinite;
  
    
            animation: spin ease-in-out 2s forwards infinite;
  }
    
    .loader .circle {
      width: 12px;
      height: 12px;
      border-radius: 50%;
       background-color: #98c9fd; 
      
      
      -webkit-animation: ease-in 1s alternate infinite; 
      
      
              animation: ease-in 1s alternate infinite;
    }
    
    .loader .circle.t-l {
        grid-column: 1 / span 1;
        grid-row: 1 / span 1;
        
        -ms-grid-column: 1;
        -ms-grid-row: 1;
        
        -webkit-animation-name: move-t-l;
        
                animation-name: move-t-l;
      }
    
    .loader .circle.t-r {
        grid-column: 5 / span 1;
        grid-row: 1 / span 1;
      background-color: #4472fd; 
        -ms-grid-column: 5;
        -ms-grid-row: 1;
        
        -webkit-animation-name: move-t-r;
        
                animation-name: move-t-r;
      }
    
    .loader .circle.b-l {
        grid-column: 1 / span 1;
        grid-row: 5 / span 1;
        
        -ms-grid-column: 1;
        -ms-grid-row: 5;
         background-color: #4472fd; 
        -webkit-animation-name: move-b-l; 
                animation-name: move-b-l;
      }
    
    .loader .circle.b-r {
        grid-column: 5 / span 1;
        grid-row: 5 / span 1;
             
        -ms-grid-column: 5;
        -ms-grid-row: 5;
        
        -webkit-animation-name: move-b-r;
        
                animation-name: move-b-r;
      }
  
  @-webkit-keyframes spin {
    from { -webkit-transform: rotate(45deg); transform: rotate(45deg); }
    to { -webkit-transform: rotate(765deg); transform: rotate(765deg); }
  }
  
  @keyframes spin {
    from { -webkit-transform: rotate(45deg); transform: rotate(45deg); }
    to { -webkit-transform: rotate(765deg); transform: rotate(765deg); }
  }
  
  @-webkit-keyframes move-t-l {
    to { -webkit-transform: translate(200%, 200%); transform: translate(200%, 200%) }
  }
  
  @keyframes move-t-l {
    to { -webkit-transform: translate(200%, 200%); transform: translate(200%, 200%) }
  }
  
  @-webkit-keyframes move-t-r {
    to { -webkit-transform: translate(-200%, 200%); transform: translate(-200%, 200%) }
  }
  
  @keyframes move-t-r {
    to { -webkit-transform: translate(-200%, 200%); transform: translate(-200%, 200%) }
  }
  
  @-webkit-keyframes move-b-l {
    to { -webkit-transform: translate(200%, -200%); transform: translate(200%, -200%) }
  }
  
  @keyframes move-b-l {
    to { -webkit-transform: translate(200%, -200%); transform: translate(200%, -200%) }
  }
  
  @-webkit-keyframes move-b-r {
    to { -webkit-transform: translate(-200%, -200%); transform: translate(-200%, -200%) }
  }
  
  @keyframes move-b-r {
    to { -webkit-transform: translate(-200%, -200%); transform: translate(-200%, -200%) }
  }
  

  /*for card news */

  
.cardnews {
  float: left;
  padding: 0 1.7rem;
  width: 50%;
}
.cardnews .menu-content {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.cardnews .menu-content::before, .cardnews .menu-content::after {
  content: '';
  display: table;
}
.cardnews .menu-content::after {
  clear: both;
}
.cardnews .menu-content li {
  display: inline-block;
}
.carcardnewsd .menu-content a {
  color: #fff;
}
.cardnews .menu-content span {
  position: absolute;
  left: 50%;
  top: 0;
  font-size: 10px;
  font-weight: 700;
  font-family: 'Open Sans';
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
}
.cardnews .wrapper {
  background-color: #fff;
  min-height: 540px;
  position: relative;
  overflow: hidden;
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.2);
}
.cardnews .wrapper:hover .data {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}
.cardnews .data {
  position: absolute;
  bottom: 0;
  width: 100%;
  -webkit-transform: translateY(calc(70px + 1em));
          transform: translateY(calc(70px + 1em));
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}
.cardnews .data .content {
  padding: 1em;
  position: relative;
  z-index: 1;
}
.cardnews .author {
  font-size: 12px;
}
.cardnews .title {
  margin-top: 10px;
}
.cardnews .text {
  height: 70px;
  margin: 0;
}
.cardnews input[type='checkbox'] {
  display: none;
}
.cardnews input[type='checkbox']:checked + .menu-content {
  -webkit-transform: translateY(-60px);
          transform: translateY(-60px);
}

.example-1 .wrapper {

}
.example-1 .date {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #77d7b9;
  color: #fff;
  padding: 0.8em;
}
.example-1 .date span {
  display: block;
  text-align: center;
}
.example-1 .date .day {
  font-weight: 700;
  font-size: 24px;
  text-shadow: 2px 3px 2px rgba(0, 0, 0, 0.18);
}
.example-1 .date .month {
  text-transform: uppercase;
}
.example-1 .date .month,
.example-1 .date .year {
  font-size: 12px;
}
.example-1 .content {
  background-color: #fff;
  box-shadow: 0 5px 30px 10px rgba(0, 0, 0, 0.3);
}
.example-1 .title a {
  color: gray;
}
.example-1 .menu-button {
  position: absolute;
  z-index: 999;
  top: 16px;
  right: 16px;
  width: 25px;
  text-align: center;
  cursor: pointer;
}
.example-1 .menu-button span {
  width: 5px;
  height: 5px;
  background-color: gray;
  color: gray;
  position: relative;
  display: inline-block;
  border-radius: 50%;
}
.example-1 .menu-button span::after, .example-1 .menu-button span::before {
  content: '';
  display: block;
  width: 5px;
  height: 5px;
  background-color: currentColor;
  position: absolute;
  border-radius: 50%;
}
.example-1 .menu-button span::before {
  left: -10px;
}
.example-1 .menu-button span::after {
  right: -10px;
}
.example-1 .menu-content {
  text-align: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: -1;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}
.example-1 .menu-content li {
  width: 33.333333%;
  float: left;
  background-color: #77d7b9;
  height: 60px;
  position: relative;
}
.example-1 .menu-content a {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-size: 24px;
}
.example-1 .menu-content span {
  top: -10px;
}

.example-2 .wrapper {
  
}
.example-2 .wrapper:hover .menu-content span {
  -webkit-transform: translate(-50%, -10px);
          transform: translate(-50%, -10px);
  opacity: 1;
}
.example-2 .header {
  color: #fff;
  padding: 1em;
}
.example-2 .header::before, .example-2 .header::after {
  content: '';
  display: table;
}
.example-2 .header::after {
  clear: both;
}
.example-2 .header .date {
  float: left;
  font-size: 12px;
}
.example-2 .menu-content {
  float: right;
}
.example-2 .menu-content li {
  margin: 0 5px;
  position: relative;
}
.example-2 .menu-content span {
  transition: all 0.3s;
  opacity: 0;
}
.example-2 .data {
  color: #fff;
  -webkit-transform: translateY(calc(70px + 4em));
          transform: translateY(calc(70px + 4em));
}
.example-2 .title a {
  color: #fff;
}
.example-2 .button {
  display: block;
  width: 100px;
  margin: 2em auto 1em;
  text-align: center;
  font-size: 12px;
  color: #fff;
  line-height: 1;
  position: relative;
  font-weight: 700;
}
.example-2 .button::after {
  content: '\2192';
  opacity: 0;
  position: absolute;
  right: 0;
  top: 50%;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  transition: all 0.3s;
}
.example-2 .button:hover::after {
  -webkit-transform: translate(5px, -50%);
          transform: translate(5px, -50%);
  opacity: 1;
}
  
  
          </style>
           
           <!-- <ul class="breadcrumb">
              <li class="breadcrumb-item">
                <a href="/general_2/assets/index.html">Home</a>
              </li>
              <li class="breadcrumb-item">
                <a href="/general_2/assets/index.html">Researchers</a>
              </li>
  
            </ul> -->
            <!--------------------
            END - Breadcrumbs
            -------------------->
            <div class=" all-wrapper rentals" style="max-width: 1400px;  " >
        <!--    <div class="row">
                
            
                     <div class=" col-sm-4 col-xxxl-3 example-1 cardnews">
                         <br><br>
                       <div class="wrapper" style="  background: url(http://www.science.kmitl.ac.th/wp-content/themes/personalTheme/images/news/059.jpg) 20% 1%/cover no-repeat;">
                         <div class="date">
                           <span class="day">10</span>
                           <span class="month">Mar</span>
                           <span class="year">2018</span>
                         </div>
                         <div class="data">
                           <div class="content">
                             <span class="author"> Admin </span>
                             <h4 class="title" style="color:rgb(34, 77, 250)"><a href="#">วันที่ 13 มีนาคม 2561 งานประกันคุณภาพ จัดประชุมอาจารย์ประจำหลักสูตร ระดับปริญญาตรี</a></h4>
                             <p class="text">วันที่ 13 มีนาคม 2561 งานประกันคุณภาพ จัดประชุมอาจารย์ประจำหลักสูตร ระดับปริญญาตรี เพื่อหารือการจัดเตรียมข้อมูลสำหรับเขียนรายงานการประเมินตนเองตามระบบ AUN-QA ประจำปีการศึกษา 2560 ณ ห้องประชุมราชราชพฤกษ์ 2-3 อาคารคณะวิทยาศาสตร์</p>
                             <label for="show-menu" class="menu-button"><span></span></label>
                         
                         
     
     
                           </div>
                           <input type="checkbox" id="show-menu" />
                           <ul class="menu-content">
                             <li>
                               <a href="#" class="fa fa-bookmark-o"></a>
                             </li>
                             <li><a href="#" class="fa fa-heart-o"><span>47</span></a></li>
                             <li><a href="#" class="fa fa-comment-o"><span>8</span></a></li>
                           </ul>
                         </div>
                       </div>
                     </div>
                   
                     <div class=" col-sm-4 col-xxxl-3 example-1 cardnews">
                         <br><br>
                         <div class="wrapper"  style="  background: url(http://www.science.kmitl.ac.th/wp-content/themes/personalTheme/images/news/068.jpg) 20% 1%/cover no-repeat;">
                           <div class="date">
                             <span class="day">8</span>
                             <span class="month">Mar</span>
                             <span class="year">2018</span>
                           </div>
                           <div class="data">
                             <div class="content">
                               <span class="author">Admin</span>
                               <h4 class="title" style="color:rgb(34, 77, 250)"><a href="#">2 เม.ย. 61 รศ.ดร.อิทธิพล แจ้งชัด ได้รับพระราชทานเครื่องราชอิสริยาภรณ์ วชิรมหามงกุฎ </a></h4>
                               <p class="text">2 เม.ย. 61 รศ.ดร.อิทธิพล แจ้งชัด ได้รับพระราชทานเครื่องราชอิสริยาภรณ์ วชิรมหามงกุฎ ในพิธีพระราชทานเครื่องราชอิสริยาภรณ์ชั้นสายสะพาย ต่อหน้าพระฉายาลักษณ์สมเด็จพระเจ้าอยู่หัว ณ หอประชุมครุสภา กระทรวงศึกษาธิการ
                                 </p>
                               <label for="show-menu" class="menu-button"><span></span></label>
                           
                           
       
       
                             </div>
                             <input type="checkbox" id="show-menu" />
                             <ul class="menu-content">
                               <li>
                                 <a href="#" class="fa fa-bookmark-o"></a>
                               </li>
                               <li><a href="#" class="fa fa-heart-o"><span>47</span></a></li>
                               <li><a href="#" class="fa fa-comment-o"><span>8</span></a></li>
                             </ul>
                           </div>
                         </div>
     
                       </div>
     
     
                       <div class=" col-sm-4 col-xxxl-3 example-1 cardnews">
                           <br><br>
                           <div class="wrapper orange-force"  style="  background: url(http://www.science.kmitl.ac.th/wp-content/themes/personalTheme/images/news/060.jpg) 20% 1%/cover no-repeat;">
                             <div class="date">
                               <span class="day">5</span>
                               <span class="month">Mar</span>
                               <span class="year">2018</span>
                             </div>
                             <div class="data">
                               <div class="content">
                                 <span class="author">Admin</span>
                                 <h4 class="title" style="color:rgb(34, 77, 250)"><a href="#">เยือนคณะบริหารธุรกิจและเศรษฐศาสตร์ มหาวิทยาลัยอัสสัมชัญ </a></h4>
                                 <p class="text">
                                     16/3/61 รศ.ดร.อิทธิพล แจ้งชัด คณบดีคณะวิทยาศาสตร์ สจล. และคณะ เยือนคณะบริหารธุรกิจและเศรษฐศาสตร์ มหาวิทยาลัยอัสสัมชัญ เข้าพูดคุยความร่วมมือกับคณะบริหารธุรกิจ จะเกิดอะไรขึ้นเมื่อวิทยาศาสตร์และเทคโนโลยี มาเจอกับสุดยอดสายธุรกิจและการตลาดและขอบพระคุณ ดร.อุรีย์ เจี่ยสกุล คณบดีคณะบริหารธุรกิจและเศรษฐศาสตร์ มหาวิทยาลัยอัสสัมชัญ ที่ให้การต้อนรับเป็นอย่างดี
                                 
                                   </p>
                                 <label for="show-menu" class="menu-button"><span></span></label>
                             
                             
         
         
                               </div>
                               <input type="checkbox" id="show-menu" />
                               <ul class="menu-content">
                                 <li>
                                   <a href="#" class="fa fa-bookmark-o"></a>
                                 </li>
                                 <li><a href="#" class="fa fa-heart-o"><span>47</span></a></li>
                                 <li><a href="#" class="fa fa-comment-o"><span>8</span></a></li>
                               </ul>
                             </div>
                           </div>
       
                         </div>
                         <ul class="demo-icons-list" style="    margin-top: 15%; margin-right: -23%;">
                             <li>
                                 <a href="http://161.246.35.182:2001/page/news_container/0/5a8470b228d2e92a0c753010"><i style="color:rgb(77, 77, 248); font-size:5rem;" class="icon-arrow-right-circle"></i><span>Read More ..</span></a>
                               </li>
                             </ul>
     
                         <div class="">
                             <br>
                             <br>
           
                           <button class="mr-2 mb-2 btn btn-lg btn-outline-primary " style="float:right" type="button"><i class="icon-arrow-right-circle"></i>
                           </button>
                         </div>
             </div>
            </div>



            <br><br>-->
            
            <div class="all-wrapper rentals orange" style="max-width: 1600px;    " >
              <!--------------------
              START - Top Bar
              -------------------->
              <div class="top-bar-rentals orange-force">
                <div class="logo-w">
                  <a class="logo" href="index.html">
                    <div class="logo-element"></div>
                    <div class="logo-label">
                     Reseachers
                    </div>
                  </a>
                  <div class="filters-toggler">
                    <i class="os-icon os-icon-hamburger-menu-1"></i>
                  </div>
                </div>


            



                <div class="filters">
                  <div class="filters-header">
                    <h4>
                        {{(researcher_list | filter:search).length}} Researchers Found
                     </h4>
                  </div>
                  <form class="form-inline">
  
                    <div class="filter-w">
                      <div class="filter-body">
                        <div class="form-group">
                          <label for="" >Order By</label>
                          <div class="input-group">
                          <!--  <div class="input-group-prepend">
                              <div class="input-group-text">
  
                              </div>
                            </div>-->
                         
                            <select class="form-control date-range-picker" ng-model="order">
                                <option value='researcherName_TH'>
                                  ชื่อนักวิจัย
                                </option>
                           <!--     <option value='departmentName_TH'>
                      ภาควิชา/หน่วยงาน
                                </option>
                              -->
                              </select>


                          </div>
                        </div>
                      </div>
                    </div>
                   
                  </form>
                </div>


                
              </div>
              <!--------------------
              END - Top bar
              --------------------><!--------------------
              START - Rentals Content
              --------------------><div class="rentals-list-w">
                <!--------------------
                START - Property Index Filters
                -------------------->
                <div class="filter-side" style="overflow-x: scroll;">
                  <div class="filters-header">
                    <h4>
                      Filter
                    </h4>
                    <div class="reset-filters" ng-click="reset_filter()">
                      <i class="os-icon-close os-icon"></i><span >Reset Filters</span>
                    </div>
                  </div>
                   <div class="filter-w">
                    <div class="filter-toggle">
                      <i class="os-icon-minus os-icon"></i>
                    </div>
                    <h6 class="filter-header">
                      <span style="font-size: 22px;">ค้นหา</span> &nbsp;  <span style="color: #cccaca;">search</span>
                    </h6>
                    <div class="filter-body">
                        <input type="text" class="form-control" autofocus  placeholder="คำที่ต้องการค้นหา" ng-model="search.$" >
                    
                    </div>
                  </div>
                  
                  <div class="filter-w">
                    <div class="filter-toggle">
                      <i class="os-icon-minus os-icon"></i>
                    </div>
                    <h6 class="filter-header">
                        <span style="font-size: 22px;">คำสำคัญ</span> &nbsp;  <span style="color: #cccaca;">keyword</span>
                      </h6>
                    <div class="filter-body">
                        <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Keyword" ng-model="search.keywordString" >
                    
                    </div>
                  </div>
                  
                       <div class="filter-w">
                      <div class="filter-toggle">
                        <i class="os-icon-minus os-icon"></i>
                      </div>
                      <h6 class="filter-header">
                          <span style="font-size: 22px;">ชื่อนักวิจัย</span> &nbsp;  <span style="color: #cccaca;">name</span>
                      </h6>
                      <div class="filter-body">
                       <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="ชื่อนักวิจัย" ng-model="search.researcherStringName" >
                      </div>
                    </div>
                    
                    
                    
                  <div class="filter-w">
                    <div class="filter-toggle">
                      <i class="os-icon-minus os-icon"></i>
                    </div>
                    <h6 class="filter-header">
                        <span style="font-size: 22px;">ภาควิชา</span> &nbsp;  <span style="color: #cccaca;">department</span>
                      </h6>
                    <div class="filter-body">
                      <div class="toggled-buttons">
                        <a class="btn btn-toggled " ng-class="{'on':search.departmentData.departmentName_TH == ''}" ng-click="filter_department('')" ><span style="font-size: 18px;">ทั้งหมด</span> &nbsp;  <span style="color: #cccaca;">All</span></a><br/>
                        <a class="btn btn-toggled " ng-class="{'on':search.departmentData.departmentName_TH == 'คณิตศาสตร์'}" ng-click="filter_department('คณิตศาสตร์') "> <span style="font-size: 18px;">คณิตศาสตร์</span> &nbsp;  <span style="color: #cccaca;">Mathematics</span></a><br/>
                        <a class="btn btn-toggled " ng-class="{'on':search.departmentData.departmentName_TH == 'ชีววิทยา'}" ng-click="filter_department('ชีววิทยา')" > <span style="font-size: 18px;">ชีววิทยา</span> &nbsp;  <span style="color: #cccaca;">Biology</span></a><br/>
                        <a class="btn btn-toggled " ng-class="{'on':search.departmentData.departmentName_TH == 'ฟิสิกส์'}" ng-click="filter_department('ฟิสิกส์')"> <span style="font-size: 18px;">ฟิสิกส์</span> &nbsp;  <span style="color: #cccaca;">Physics</span></a><br/>
                        <a class="btn btn-toggled " ng-class="{'on':search.departmentData.departmentName_TH == 'วิทยาการคอมพิวเตอร์'}" ng-click="filter_department('วิทยาการคอมพิวเตอร์')" > <span style="font-size: 18px;">วิทยาการคอมพิวเตอร์</span> &nbsp;  <span style="color: #cccaca;">Computer Science</span></a><br/>
  
                        <a class="btn btn-toggled " ng-class="{'on':search.departmentData.departmentName_TH == 'เคมี'}" ng-click="filter_department('เคมี')" > <span style="font-size: 18px;">เคมี</span> &nbsp;  <span style="color: #cccaca;">Chemistry</span></a><br/>
                        <a class="btn btn-toggled " ng-class="{'on':search.departmentData.departmentName_TH == 'สถิติ'}" ng-click="filter_department('สถิติ') "> <span style="font-size: 18px;">สถิติ</span> &nbsp;  <span style="color: #cccaca;">Statistics</span></a><br/>
                        <!-- <a class="btn btn-toggled " ng-class="{'on':search.departmentData.departmentName_TH == 'ศูนย์เครื่องมือวิทยาศาสตร์'}" ng-click="filter_department('ศูนย์เครื่องมือวิทยาศาสตร์') ">ศูนย์เครื่องมือวิทยาศาสตร์</a><br/> -->
  
                      </div>
                    </div>
                  </div>
  
                   
                  
                  
                 <!-- <div class="filter-w">
                    <div class="filter-toggle">
                      <i class="os-icon-minus os-icon"></i>
                    </div>
                    <h6 class="filter-header">
                      ตำแหน่ง
                    </h6>
                    <div class="filter-body">
                      <div class="toggled-buttons solid">
                        <a class="btn btn-toggled on" href="#">ทั้งหมด</a>
                        <a class="btn btn-toggled off" href="#">ผศ.</a>
                        <a class="btn btn-toggled off" href="#">รศ.</a>
                        <a class="btn btn-toggled off" href="#">ศ.</a>
  
                      </div>
                    </div>
                  </div>-->
                 
  
             
  
                </div>
                <!--------------------
                END - Property Index Filters
                -------------------->
                <div class="rentals-list  ">
                 
                  <div class="property-items as-list">
                    <!--------------------
                    START - Property Item
                    -------------------->
  <div class="section" ng-show="loading">
                    <figure class="loader">
                      <div class="circle t-l"></div>
                      <div class="circle t-r"></div>
                      <div class="circle b-l"></div>
                      <div class="circle b-r"></div>
                    </figure>
   </div>
  
                    <div class="row " >
                    <div class="property-item col-md-6  " ng-repeat="item in researcher_list | filter:search:strict  | orderBy:order" ng-click="gotoProfile(item._id)" >
                
                      <a class="item-media-w ">
               <!--          <div class="item-media" style="background-image: url(http://www.science.kmitl.ac.th/wp-content/uploads/2018/01/DSC_5232-683x1024.jpg)"></div>
                   -->
                     <div class="item-media card-image"  style="height: 70%;  margin-top: 68px!important;background-image: url( './general_2/ResearcherPic/{{item.researcherName_TH}}.jpg'), url( 'http://www.science.kmitl.ac.th/assets/img/person/noimg.jpg');"></div>
                   
                      </a>
                      <div class="">
                      <div class="item-info container-fluid">
                        <div class="item-features">
                          <div class="feature">
                           ภาควิชา/หน่วยงาน  <b>{{item.departmentData.departmentName_TH}}</b>
                          </div>
  
                        </div>
                        <div class="container-fluid">
                     
                        <h3 class="item-title">
                        
                        <a >{{item.researcherName_TH}}</a>
                      </h3>
                      <h5 class="item-title">
                          
                           <a>{{item.researcherName_EN}}</a>
                          
                          </h5>
                   
                        <p>
                         <br>
              Keywords:
              
  
                         <span class="badge badge-light" ng-repeat="itemitem in item.keywordArray">{{itemitem.keyword_EN}},
  
  
               </span>
          
                        </p>
                      </div>
                        <!--<div class="item-reviews">
                          <div class="reviews-stars">
                            <select class="item-star-rating">
                              <option value="1">
                                1
                              </option>
                              <option value="2">
                                2
                              </option>
                              <option value="3">
                                3
                              </option>
                              <option selected="yes" value="4">
                                4
                              </option>
                              <option value="5">
                                5
                              </option>
                            </select>
                          </div>
                          <div class="reviews-count">
                            12 Reviews
                          </div>
                        </div>-->
                        <div class="item-price-buttons">
                        <!--<div class="item-price">
                            <strong>$350</strong><span>/per night</span>
                          </div>-->
                         <!--  <div class="item-buttons">
                            <a class="btn btn-outline-primary" ng-click="gotoProfile(item._id)"><span>Details</span><i class="os-icon os-icon-arrow-2-right"></i></a>
                          </div>-->
                        </div>
                      </div>
                    </div>
                      
                    </div>
                  </div>
                    

                  
                    <!--------------------
                    END - Property Item
                    -------------------->


    <div ui-view></div>
                  </div>
                  <div class="pagination-w">
                    <div class="pagination-info">
  
                    </div>
                    <div class="pagination-links">
                      <ul class="pagination">
                        <li class="page-item disabled">
                          <a class="page-link" href="#"> Previous</a>
                        </li>
                        <li class="page-item active">
                          <a class="page-link" href="#"> 1</a>
                        </li>
  
                        <li class="page-item">
                          <a class="page-link" href="#"> Next</a>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div><!--------------------
              END - Rentals Content
              -------------------->
  
  
            </div>
            <br>
  
            <div class="display-type"></div>
  
            
  
  
  
  
  